.pdf-content {
    border: 1px solid #000000;
}

::selection { background:rgba(0,0,255,0.3); }

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000;
    font-family: sans-serif;
    overflow: hidden;
}

.textLayer > div {
    color: transparent;
    position: absolute;
    line-height: 1;
    white-space: pre;
    cursor: text;
}

.textLayer .highlight {
    margin: -1px;
    padding: 1px;

    background-color: rgba(180, 0, 170, 0.2);
    border-radius: 4px;
}

.textLayer .highlight.begin {
    border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
    border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
    border-radius: 0px;
}

.textLayer .highlight.selected {
    background-color: rgba(0, 100, 0, 0.2);
}

.ace_editor{
    width: 500px;
    height: 450px;
    background-color: #E0E0E0;
    margin-right: 5px;
    overflow-y: auto;
    float: left;
    padding: 10px;
    border: #E0E0E0 solid 1px;

}

#header {
    background-color:#E0E0E0;
    color:black;
    text-align:left;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:590px;
    width:260px;
    float:left;
    padding:5px; 
}
#section {
    width:500px;
    float:left;
    border-right: #E0E0E0 solid 1px;
    padding:10px; 
}
